@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:wght@400;500;700&family=Dancing+Script:wght@400;500;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

h4{
    font-size: 18px;
}
p, table{
    font-family: 'Raleway', sans-serif;
}


.wrapper{
    width: 100%;
    margin: auto;
}

.unit1, .unit2, .unit3, .unit4, .unit5, .unit6, .my-report{
    width: 85%;
    margin: 4em auto;
    overflow: auto;
    scroll-margin-top: 80px;
}

.section-header, .lesson{
    text-align: center;
}

.section-header span{
    font-family: "Imperial Script", cursive;
    font-weight: 900;
    font-style: italic;
    color: #123456;
    font-size: 1.3em;
}

.section-header h2{
    text-transform: uppercase;
    color: #0041c2;
    margin-bottom: 5px;
    font-size: 1.8em;
}

.section-header hr{
    background-color: #123456;
    height: 2px;
    width: 25%;
    margin: auto;
}

.lesson{
    margin-bottom: 30px;
    border-bottom: 2px dotted green;
}

.lesson h3{
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    color: #123456;
    text-transform: uppercase;
}

figure{
    font-size: 12px;
    margin-bottom: 20px;
    font-family: sans-serif;
    text-align: center;
    font-size: italic;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

/* (1) Header Area */
.nav{
    overflow: auto;
    width: 100%;
    margin: 1em auto;
    position: sticky;
    z-index: 999;
    background-color: #fff;
    top: 0;
    padding: 10px;
    box-shadow: 1px 1px 30px gray;
    margin: 0;
    height: 70px;
}

.nav h1{
    text-transform: uppercase;
    width: 20%;
    float: left;
    padding-left: 7.5%;
}

.nav h1 a{
    font-family: 'Oswald', sans-serif;
    color: #123456;
    text-decoration: none;
}

.nav ul{
    width: 70%;
    float: right;
    text-align: right;
    padding-top: 1em;
    padding-right: 7.5%;
}

.nav ul li{
    display: inline;
    margin-left: 1.5em;
}

.nav ul a{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #0041c2;
    text-decoration: none;
}

.nav ul a:hover{
    color: #39595A;
    border-bottom: 2px solid #39595A;
}


/*  (2) Banner Area */
.banner{
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    /* height: 500px; */
    height: 90vh;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

.banner-text{
    position: absolute;
    top: 23%;
    right: 7.5%;
    width: 900px;
}

.banner-text h2{
    color: #82CAFF;
    font-size: 7em;
    text-shadow: 2px 2px 4px #123456;
    font-family: "Imperial Script", cursive;
    text-align: right;
}

/* UNIT 1 */
#unit1 .lesson h3{
    margin-bottom: 20px;
}

#left, #right {
    width: 50%;
    float: left;
    text-align: left;
}

#assessment-content{
    height: auto;
    min-height: 200px;
    overflow: auto;
}
#assessment-content img{
    border-radius: 10px;
    width: 95%;
    height: 100%;
}

.images{
    width: 85%;
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
}
.images img{
    width: 19%;
    height: 100%;
    float: left;
    border-radius: 0;
    border: 1px solid black;
    margin-right: 5px;
    transition: transform .2s; /* Animation */

}

.images img:hover{
    transform: scale(1.5); 
}


.images img:last-child{
    margin-right: 0;
}

#philosophical-and-theoretical div p{
    text-align: left;
}

.assessment-of-learning{
    background-image: url('../images/classroom.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;
    padding-top: 20px;
}

.assessment-of-learning p{
    background-color: rgba(255,255,255,.9);
    padding: 20px;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 40px 10px #123456;
}

#assessment-for-as h4{
    margin: 30px 0;
}
#assessment-for-as table{
    width: 100%;
}

#assessment-for-as table td{
    width: 33%;
    border-right: 2px dotted red;
    border-left: 2px dotted red;
    padding: 20px;
    vertical-align: top;
}

#assessment-for-as table td img {
    width: 40%;
}

#philosophical-and-theoretical div h4{
    margin: 20px 0;
}
#philosophical-and-theoretical div table{
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
}

#philosophical-and-theoretical div table td{
    width: 33%;
    text-align: center;
    padding: 5px;
    vertical-align: top;
    padding-bottom: 20px;
}

#philosophical-and-theoretical div table td img{
    width: 200px;
    height: 300px;
    border: 2px solid darkblue;
    box-shadow: 2px 2px 10px #123456;
}


/* UNIT 2 */
#unit-2, #unit-4, #unit-6, #my-report{
    background-color: aliceblue;
}

#characteristics-assessment{
    margin-top: 10px;
}

#characteristics-assessment table th{
    border-bottom: 1px double gray;
    padding-bottom: 5px;
}
#characteristics-assessment table td{
    text-align: left;
    border-bottom: 1px dotted gray;
    padding-top: 8px;
    padding-bottom: 8px;
}

#characteristics-assessment table td:nth-child(1){
    font-weight: bold;
    width: 12%;
}

#classroom-assessment{
    height: auto;
    min-height: 450px;
    margin-top: 50px;
}

#classroom-assessment div{
    width: 50%;
    float: left;

}

#classroom-assessment #assessment-left img{
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 2px 30px 3px gray;
    border: 1px solid gray;
}

.learning-domain th, td{
    vertical-align: top;
}

#criteria:hover{
    transform: scale(2); 
    display: block;
    /* border: 1px solid black; */
}
#blooms-table th{
    vertical-align: top;
    border-left: 1px dashed #123456;
    border-right: 1px dashed #123456;
}

#blooms-table td{
    width: 32%;
    text-align: left;
    vertical-align: top;
    padding: 15px 10px;
    border-left: 1px dashed #123456;
    border-right: 1px dashed #123456;
}

/* UNIT 3 */
#designing-tool-techniques .intro{
    text-align: left;
    background-color: rgba(240, 248, 255, .7);
    padding: 20px;
    border: 1px solid darkblue;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px gainsboro;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.assessment-tools img{
    width: 33%;
    border: 1px solid black;
}

.oop-activities img{
    width: 49%;
}

#methods-to-lo td, #methods-to-lo th{
    width: 34%;
    border-bottom: 1px dotted #123456;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}
#methods-to-lo tr:nth-child(odd){
    background-color: aliceblue;
}

#mini-assessment-plan table, #mini-assessment-plan  tr,  #mini-assessment-plan  td{
    border: 1px solid gray;
    text-align: left;
    vertical-align: top;
}

#mini-assessment-plan td{
    width: 33%;
    padding: 10px;
}
#tos img{
    width: 80%;
    height: 50%;
    border: 2px double green;
}
#tos p{
    text-align: left;
    margin-bottom: 10px;
}

/* MY REPORT */
#my-report{
    padding: 20px 0;
}

.my-report .section-header span{
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;

}

#tea-examples{
    margin-top: 20px;
}

.tool-title{
    background-color: #123456;
    color: #fff;
}
#tea-examples td{
    width: 50%;
    border-bottom: 1px dotted gray;
    /* vertical-align: top; */
    text-align: left;
    padding: 10px 5px;
    border-bottom: none;

}

#tea-examples td img{
    width: 600px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px #123456;
}

#traditionalvstech{
    width:100%;
}

#traditionalvstech th, #traditionalvstech td{
    border-bottom: 1px dotted gray;
    width: 33%;
    padding: 10px 5px;
}

#ms-form, #ms-teams{
    margin-top: 10px;
    height: auto;
    min-height: 700px;
    margin-bottom: 20px;
}

#ms-form img, #ms-teams img{
    width: 55%;
    height: 400px;
    border: 1px solid darkgreen;
    display: inline;
    transition: transform .2s; /* Animation */
}

#ms-form img:hover, #ms-teams img:hover{
    transform: scale(1.5); 
}


/*Footer Area */
.footer{
    padding-top: 2em;
}

.footer-social{
    background-color: #123456;
    color: #fff;
    overflow: auto;
    padding: 1em 7.5%;
}

.social-widgets{
    width: 49%;
    float: left;
    text-align: center;
    margin-right: 2%;

}

.social-widgets3{
    margin-right: 0;
}

.social h3{
    text-transform: uppercase;
}
